<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <style media="screen">
        a {
            margin: auto;
        }
    </style>
    <body>

        <div class="Socials">
            <a class="logos" href="https://www.youtube.com/channel/UCudgLd7wLOAoQsi16PBpSCg">
                <ion-icon  name="logo-youtube"></ion-icon>
            </a>
            <a class="logos" href="https://www.instagram.com/cavellerson/">
                <ion-icon  name="logo-instagram"></ion-icon>
            </a>
            <a class="logos" href="https://www.linkedin.com/in/cavellw/">
                <ion-icon  name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://github.com/cavellerson"><ion-icon name="logo-github"></ion-icon></a>

        </div>

        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </body>
</html>
