<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/stylesheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="border border-2">
            <div class="main-content">
                <h1>New Post</h1>
                <form action="/ml/foods" method="POST">
                    Title: <input type="text" name="title" placeholder="title">
                    <br>
                    <textarea name="description" rows="8" cols="80" placeholder="description"></textarea>
                    <br>
                    Img: <input type="text" name="img" placeholder="image link" required: true>
                    <br>
                    Tags: <input type="text" name="tag" placeholder="tags">
                    <br>

                    <input type="submit" name="" value="Create">
                </form>
                    <a href="/ml/foods" class="btn btn-outline-light">Home</a>

            </div>
        </div>


        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    </body>
</html>
