<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Post</h1>
        <form action="/gtgv/foods" method="POST">
            Title: <input type="text" name="title" placeholder="title">
            <br>
            Description: <input type="text" name="description" placeholder="description">
            <br>
            Img: <input type="text" name="img" placeholder="image link" required: true>
            <br>
            Tags: <input type="text" name="tag" placeholder="tags">
            <br>

            <input type="submit" name="" value="Post">
        </form>
            <a href="/gtgv/foods"><button type="button" name="button">Home</button></a>


    </body>
</html>
