<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/stylesheet.css" rel="stylesheet" type="text/css">
        <style media="screen">
            body {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="main-content">
            <form action="/ml/foods/<%=post.id%>?_method=PUT" method="POST">
                <fieldset>
                    <legend>Edit Post</legend>
                    <br>
                    <legend>Title</legend>
                    <input type="text" name="title" placeholder="<%=post.title%>">
                    <br>
                    <legend>Description</legend>
                    <textarea rows="8" cols="80" name="description"
                    placeholder="<%=post.description%>"></textarea>
                    <br>
                    <legend>Tags</legend>
                    <input type="text" name="tag" placeholder="<%=post.tag%>">

                    <input type="submit" name="" value="Post">

                </fieldset>

            </form>
            <a href="/ml/foods"><ion-icon name="apps-sharp"></ion-icon></a>

        </div>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    </body>
</html>
