<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Foods</h1>
        <% for (let food of posts) { %>
                <h1><%=food.title%></h1>
                <h2><%=food.description%></h2>
                <img src="<%=food.img%>" alt="food-image">
                <h3><%=food.tags%></h3>
        <% } %>
    </body>
</html>
