<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome to Good Times & Good Vibes</h1>
            <a href="/gtgv/foods">Link to Foods</a>
    </body>
</html>
